
 <div class="jumbotron">
  <h1>'Hello Wallethub!</h1>
  <h3>
    
    This is the Everton Melo's test.
  </h3>
  <p>I hope you analize it with a lot of love <span class="glyphicon glyphicon-heart"></span></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/list">Start!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>About Test</h4>
  <p>
      You can check all test requirements clicking in <a href="#/list">Persona selection</a>. As a good boss there you will be able to give your opnion about the note and deserve salary of a employee . After you can fill your phone number and a suposed barcode where you can use any characters. 
  </p>
  
  <h4>Tools</h4>
  <p>In this test I have used Yeoman to scaffolding the project. All dependencies are in Bower and you can run this project with Grunt.</p>

  <h4>The only thing that missing.</h4>
  <p>
    As I didn't use any accets I have not used require.js and I hope that it won't be a bad thing in my test application. 
  </p>

</div>
